html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #ebebeb;
}
.weather-box {
 margin: 100px auto;
 max-width: 900px;
 padding: 20px;
 background-color: #493d56;
}

.weather-info {
  display: flex;
  justify-content: space-around;
}

.temperature {
  flex: 1;
  display: flex;
}

.temperature-value {
flex: 0 0 60%;
font-size: 75px;
text-align: center;
}

@media only screen and (max-width: 900px){
  .temperature-value {
    font-size: 66px;
    }
}

@media only screen and (max-width: 700px){
  .temperature-value {
    font-size: 56px;
    }
}

@media only screen and (max-width: 500px){
  .temperature-value {
    font-size: 42px;
    }
}

.temperature-unit-box {
  flex: 1;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (max-width: 900px){
  .temperature-unit-box {
    font-size: 22px;
    }
}

@media only screen and (max-width: 500px){
  .temperature-unit-box {
    font-size: 18px;
    }
}

.temperature-units {
  margin-left: 13px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 700px){
  .temperature-units {
    padding: 0;
    }
}

@media only screen and (max-width: 500px){
  .temperature-units {
    margin: 0;
    }
}

.temperature-units a:link, 
.temperature-units a:visited {
  color: #333;
  text-decoration: none;
}

.temperature-units a:hover {
  color: rgba(255, 167, 0, 0.98);
}

.active {
  color: rgba(255, 167, 0, 0.98) !important;
}

.description-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px){
  .description-box {
    flex: 0.5;
  }
}

@media only screen and (max-width: 700px){
  .description-box {
    flex: 1;
  }
}

@media only screen and (max-width: 500px){
  .description-box {
    flex: 0.5;
  }
}

.description{
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}

.icon-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.4px;
}

@media only screen and (max-width: 700px){
  .icon-box {
    display: none;
  }
}

@media only screen and (max-width: 900px){
  .country {
    font-size: 29px;
    }
}

@media only screen and (max-width: 900px){
  .details p {
    font-size: 13px;
    }
}

@media only screen and (max-width: 700px){
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    }
}

.fa {
  color: #fff;
}

.refresh-box {
  text-align: center;
}

.refresh:hover {
  color: #bbb;
}

.cloudy {
	background: url(../Images/background/cloudy.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.clear-day {
	background: url(../Images/background/clear-day.jpg)no-repeat center center fixed;
	background-size: cover;
}

.clear-night {
	background: url(../Images/background/clear-night.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.fog {
	background: url(../Images/background/fog.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.partly-cloudy-day {
	background: url(../Images/background/partly-cloudy-day.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.partly-cloudy-night {
	background: url(../Images/background/partly-cloudy-night.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.rain {
	background: url(../Images/background/rain.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.snow {
	background: url(../Images/background/snow.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.wind {
	background: url(../Images/background/wind.jpg)no-repeat center center fixed;;
	background-size: cover;
}