html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.weather-box {
 margin: 100px auto;
 max-width: 900px;
 padding: 20px;
 background-color: #493d56;
}

.weather-info {
  display: flex;
  justify-content: space-around;
}

.temperature {
  flex: 1;
  display: flex;
}

.temperature-value {
flex: 0 0 60%;
font-size: 75px;
text-align: center;
}

.temperature-unit-box {
  flex: 1;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.temperature-units {
  margin-left: 13px;
  padding-bottom: 20px;
}

.temperature-units a:link, 
.temperature-units a:visited {
  color: #333;
  text-decoration: none;
}

.temperature-units a:hover {
  color: rgba(255, 167, 0, 0.98);
}

.active {
  color: rgba(255, 167, 0, 0.98) !important;
}

.description-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description{
  text-transform: uppercase;
  font-size: 20px;
}

.icon-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.4px;
}

.fa {
  color: #fff;
}

.refresh:hover {
  color: #bbb;
}

.cloudy {
	background: url(../Images/background/cloudy.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.clear-day {
	background: url(../Images/background/clear-day.jpg)no-repeat center center fixed;
	background-size: cover;
}

.clear-night {
	background: url(../Images/background/clear-night.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.fog {
	background: url(../Images/background/fog.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.partly-cloudy-day {
	background: url(../Images/background/partly-cloudy-day.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.partly-cloudy-night {
	background: url(../Images/background/partly-cloudy-night.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.rain {
	background: url(../Images/background/rain.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.snow {
	background: url(../Images/background/snow.jpg)no-repeat center center fixed;;
	background-size: cover;
}

.wind {
	background: url(../Images/background/wind.jpg)no-repeat center center fixed;;
	background-size: cover;
}